.footer {
    padding: 10px;
   text-align: center;
   background: rgb(88, 85, 85);
    }



    .body {
        background-color: burlywood;


    }

    

    .table th,tr,td{
        border : 1px solid;
        background-color:gold;
          
    }